:root{
  --primary-color:#ff7f50;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.text-orange {
  color: var(--primary-color);
}

.btn-orange {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
}

.btn-orange:hover {
  background-color: #ff6347;
  border-color: #ff6347;
  color: white;
}
html {
  scroll-behavior: smooth;

  /* overflow: hidden; */
}




body{
  background-image: url('https://img.freepik.com/premium-vector/cloud-background-doodle-style_313905-685.jpg?w=1800');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}